<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.papermanagementbe.mapper.CodeMapper">

    <resultMap id="BaseResultMap" type="com.example.papermanagementbe.schema.CodeSchema">
            <result property="manager" column="Manager" jdbcType="VARCHAR"/>
            <result property="teacher" column="Teacher" jdbcType="VARCHAR"/>
            <result property="student" column="Student" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        Manager,Teacher,Student
    </sql>
</mapper>
